<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="rendered-form">
    <div class="formbuilder-file form-group field-file-1658141506007">
        <label for="file-1658141506007" class="formbuilder-file-label">Открыть текстовый файл</label>
        <input type="file" class="form-control" name="file-1658141506007" access="false" multiple="false" id="file-1658141506007">
    </div>
    <div class="formbuilder-button form-group field-button-1658141471400">
        <button type="button" class="btn-default btn" name="button-1658141471400" access="false" action="default" id="button-1658141471400">Прочитать слова из выбранного фала</button>
    </div>
    <div class="formbuilder-text form-group field-text-1658141551118">
        <label for="text-1658141551118" class="formbuilder-text-label">Поиск слова</label>
        <input type="text" placeholder="Введите слово для поиска..." class="form-control" name="text-1658141551118" access="false" id="text-1658141551118">
    </div>
    <div class="formbuilder-button form-group field-button-1658141527015">
        <button type="button" class="btn-default btn" name="button-1658141527015" access="false" style="default" id="button-1658141527015">Поиск</button>
    </div>
    <div class="formbuilder-button form-group field-button-1658141532887">
        <button type="button" class="btn-default btn" name="button-1658141532887" access="false" style="default" id="button-1658141532887">Очистить список</button>
    </div>
</div>
</body>
</html>