<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if my_list %}
    Список слов:
    {{ my_list }}
{% else %}
    Список пуст!
{% endif %}
<hr>
<form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" id="file">
    <button type="submit">Добавить слова из файла в список</button>
</form>
<hr>
<form action="{% url 'clear' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Очистить список слов!</label>
    <button type="submit">ОЧИСТИТЬ</button>
</form>
<hr>
<h3>
    {% if word %}
        {{ word }}
    {% endif %}
</h3>
<form action="{% url 'find_word' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="text1" class="formbuilder-text-label">Поиск слова</label>
    <input type="text" placeholder="Введите слово для поиска..." name="text1">
    <button type="submit">ПОИСК</button>
</form>
<hr>
</body>
</html>